#rock-paper-scissors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: transparent;
}

.choices-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin-top: 20px;
}

.choices-container button {
  padding: 20px;
  font-size: 16px;
  background-color: #734ba7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choices-container button.selected {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.choices-container button:hover {
  background-color: #9348d1b0;
}
