.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 30px; 
  margin-top: 60px; 
}


.game-button:hover {
  background-color: #9348d1b0;
}
